gopherboy
server/server
cmd/gopherboy_sdl/gopherboy_sdl

# Ignore Gameboy code and compiled files
*.asm
*.o
*.gb
*.inc
roms/
docs/

# Ignore memory dumps
*.dump

# Profiling and other docs
*.pdf

# Build results
*.wasm

